* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#btn {
  background: white !important;
  border-color: black !important;
}
.btn:hover {
  background: black !important;
  border-color: white !important;
  color: white !important;
}

.btn {
  background: white !important;
  border-color: black !important;
}
.btn a{
  text-decoration: none;
  color: black;
}
.btn a:hover {
  background: black !important;
  border-color: white !important;
  color: white !important;
}
#link {
  color: black !important;
}
#link:hover {
  color: red !important;
}

#link1 {
  color: white !important;
}
#link1:hover {
  color: black !important;
}
.navbar-fixed-top {
  z-index: 1000;
}

.navbar-fixed-bottom {
  z-index: 999;
}
#navbarNav{
    margin-top: 45px;
}
@media (max-width:667px) {

  #navbarNav{
    
    display: none;
  }
  #slider{
    margin-top: 100px!important;
    
  }
}
#newsbox{
  height: 200px !important;
}
#flicker{
  animation: flicker 1.5s infinite alternate !important;
  color: red;
  font-weight: bold;

}
@keyframes flicker{
  0%{
    opacity: 1;
    color: white;

  }
  50%{
    opacity: 0.5;
    color: red;
  }
  70%{
    opacity: 1;
    color: white;
  }
  100%{
    opacity: 0.5;
    color: red;
  }
}